@font-face {
  font-display: swap;
  font-family: 'Miller Display Regular';
  font-style: normal;
  font-weight: 400;
  src: url ('../fonts/Miller Display Regular.otf') format ('otf');
}


@font-face {
  font-display: swap;
  font-family: 'Oversouth Regular DEMO';
  font-style: normal;
  font-weight: 400;
  src: url ('../fonts/Oversouth Regular DEMO.otf') format ('otf');
}



